<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>But, Brendan.</title>
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/clippy.css" rel="stylesheet"/>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/clippy.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body data-ng-app="ButBrendan">
	<div class="container">
		<h1>But, Brendan.</h1>
		<form data-ng-controller="ButBrendan" class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-6">
					<input type="text" data-ng-model="what" class="form-control" placeholder="Enter here&hellip;" autofocus/>
				</div>
			</div>
			<div class="form-group" data-ng-if="what &amp;&amp; what != ''">
				<div class="col-sm-offset-4 col-sm-6">
					<p class="form-control-static">But, Brendan, you <em>are</em> a {{what}}.</p>
				</div>
			</div>
		</form>
	</div>
	<script>
clippy.BASE_PATH = 'agents/';
clippy.load('Clippy', function (agent) {
	agent.show();
});
	</script>
</body>
</html>
